# Android Studio
*.iml
.gradle/
/local.properties
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
/captures/
.externalNativeBuild/
.cxx/

# API Keys - éviter de commiter les fichiers de propriétés
*.properties
!gradle-wrapper.properties